<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div  id="root" class="container">
            <div class="search-box">
                <input type="search" v-model="searchInput" @keyUp.enter="btnEnter()" placeholder="Search any movie">
                <button type="button" @click="btnEnter()">Search</button>

            </div>
            <div class="movie-container">
                <div class="movie" v-for="movie in movies">
                    <h2>{{movie.title}}</h2>
                    <p>{{movie.original_title}}</p>
                    <p>
                        <!-- <img class="flags" :src="movie.original_language" alt=""> -->
                        <img class="flags" :src="'flags/' + movie.original_language + '.png'" :alt="movie.original_language">
                    </p>
                    <p>
                        <span>{{movie.vote_average}}</span>
                        <span>
                            <i  v-for="star in  movie.vote_average" class="fas fa-star"></i>
                            <i v-for="i in (totStars - movie.vote_average )" class="far fa-star"></i>

                        </span>
                    </p>
                </div>
            </div>

        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
