<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolflix</title>
        <link rel="icon" href="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div  id="root" class="container">
            <header>
                <div class="logo">
                    <!-- <h1>BOOLFLIX</h1> -->
                    <img src="https://fontmeme.com/permalink/201125/c072857f28ffed69c9266a55183f4c20.png" alt="">
                </div>
                <div class="search-box">
                    <input type="search" v-model="searchInput" @keyUp.enter="btnEnter()" placeholder="Search any movie or show">
                    <button type="button" @click="btnEnter()">Search</button>
                </div>

            </header>
            <section class="movies">
                <h2>Movies</h2>
                <div class="movie-container">
                    <!-- this container will show on the opening page or when no search -->
                    <div v-show="movies.length == 0" v-for="trending in movieTrending" class="movie">
                        <div class="cover">
                            <img class="img-cover" :src="getImg(trending.poster_path)" alt="">
                        </div>
                        <div class="description">
                            <h3>{{trending.title}}</h3>
                            <p>
                                {{trending.original_title}}
                            </p>
                            <p>
                                <img v-if="availableFlags.includes(trending.original_language)" class="flags" :src="'flags/' + trending.original_language + '.png'" :alt="trending.original_language">
                                <span v-else="">{{trending.original_language}}</span>
                            </p>
                            <p>
                                <span>
                                    <i  v-for="star in  getStars(trending.vote_average)" class="fas fa-star colored"></i>
                                    <i v-for="i in (totStars - getStars(trending.vote_average ))" class="far fa-star"></i>
                                </span>
                            </p>
                            <h5>{{trending.overview}}</h5>
                        </div>
                    </div>
                    <!-- if searching trending container will hide and show you search -->
                    <div v-show="movies.length != 0" class="movie" v-for="movie in movies">
                        <div class="cover">
                            <img class="img-cover" :src="getImg(movie.poster_path)" alt="">
                        </div>
                        <div class="description">
                            <h3>{{movie.title}}</h3>
                            <p>{{movie.original_title}}</p>
                            <p>
                                <img v-if="availableFlags.includes(movie.original_language)" class="flags" :src="'flags/' + movie.original_language + '.png'" :alt="movie.original_language">
                                <span v-else="">{{movie.original_language}}</span>
                            </p>
                            <p>
                                <span>
                                    <i  v-for="star in  getStars(movie.vote_average)" class="fas fa-star colored"></i>
                                    <i v-for="i in (totStars - getStars(movie.vote_average ))" class="far fa-star"></i>
                                </span>
                            </p>
                            <p v-for="cast in casts">{{cast.name}}</p>
                            <!-- <h5>{{movie.overview}}</h5> -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="series">
                <h2>Tv Shows</h2>
                <div class="show-container">
                    <!-- this container will show on the opening page or when no search -->
                    <div v-show="shows.length == 0" v-for="trending in showTrending" class="shows">
                        <div class="cover">
                            <img class="img-cover" :src="getImg(trending.poster_path)" alt="">
                        </div>
                        <div class="description">
                            <h3>{{trending.name}}</h3>
                            <p>{{trending.original_name}}</p>
                            <p>
                                <img v-if="availableFlags.includes(trending.original_language)" class="flags" :src="'flags/' + trending.original_language + '.png'" :alt="trending.original_language">
                                <span v-else="">{{trending.original_language}}</span>
                            </p>
                            <p>
                                <span>
                                    <i  v-for="star in  getStars(trending.vote_average)" class="fas fa-star colored"></i>
                                    <i v-for="i in (totStars - getStars(trending.vote_average ))" class="far fa-star"></i>
                                </span>
                            </p>
                            <h5>{{trending.overview}}</h5>
                        </div>
                    </div>
                    <!-- if searching trending container will hide and show you search -->
                    <div class="shows" v-for="show in shows">
                        <div class="cover">
                            <img class="img-cover" :src="getImg(show.poster_path)" alt="">
                        </div>
                        <div class="description">
                            <h3>{{show.name}}</h3>
                            <p>{{show.original_name}}</p>
                            <p>
                                <img v-if="availableFlags.includes(show.original_language)" class="flags" :src="'flags/' + show.original_language + '.png'" :alt="show.original_language">
                                <span v-else="">{{show.original_language}}</span>
                            </p>
                            <p>
                                <span>
                                    <i  v-for="star in  getStars(show.vote_average)" class="fas fa-star colored"></i>
                                    <i v-for="i in (totStars - getStars(show.vote_average ))" class="far fa-star"></i>
                                </span>
                            </p>
                            <h5>{{show.overview}}</h5>
                        </div>
                    </div>
                </div>

            </section>

        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
