* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #232427;
}
*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid white;
}

body {
    background-color: #232427;
    color: white;
}

h1 {
    color: red;
    font-weight: bold;
    font-size: 50px;
    margin-left: 20px;
}

h2 {
    font-size: 30px;
    margin-left: 20px;
}

header {
    height: 100px;
    display: flex;
    background-color: black;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 10px;
}

p {
    padding: 5px 0;
}

 /* +++++LOGO PART+++++ */

 .logo, .search-box {
     width: 50%;

 }

 .logo {
     display: flex;
     align-items: center;
 }

/* ++++SEARCH-BOX+++++ */

.search-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.search-box input, .search-box button {
    padding: 10px;
    border-radius: 15px;
    border-width: 1px;
}

.search-box input {
    width: 300px;
    font-size: 16px;
}

.search-box button {
    cursor: pointer;
}

/* +++++MOVIE CONTAINER+++++ */

.movie-container, .show-container {
    padding: 20px;
    display: flex;
    overflow: auto;
    margin: 0 10px;
    /* flex-wrap: wrap; */
}

.movie, .shows {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 400px;
    /* padding: 50px 10px; */
    margin: 10px 10px;
    border-radius: 15px;
    border: 1px solid white;
    position: relative;
}

.flags {
 width: 20px;
 height: 20px;
}

.colored {
 color: gold;
 border-color: black;
}

.cover {
 width: 100%;
 height: 100%;
}

.img-cover {
 height: 100%;
 width: 100%;
 border-radius: 15px;
 /* position: absolute;
 z-index: 0;
 opacity: 50%;
 top: 0;
 left: 0; */
}

.description {
    position: absolute;
    top: 20px;
    left: 20px;;
}

.series h2 {
    margin-top: 20px;
}
